.box {
  min-width: 200px;
  min-height: 140px;
  border: 1px solid red;
  border-radius: 5px;
  padding: 20px;
  transition: all 0.4s ease;

  &:hover {
    transform: translateX(20px);
  }

  .item {
    width: 100px;
    height: 100px;
    background: blue;
    padding: 10px;
  }
}